.result-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3vw;
}

@media (min-width: 600px) and (max-width: 800px) {
	.result-area {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: flex-start;
	}
}
@media (min-width: 801px) and (max-width: 1200px) {
	.result-area {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: flex-start;
	}
}

@media (min-width: 1201px) {
	.result-area {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		align-items: flex-start;
	}
}
